body {
  background-color: rgb(242, 239, 239);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: rgb(76, 0, 255);
  margin-bottom: 70px;
}

.container {
  height: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

button {
  background-color: blue;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

.reset {
  font-size: 28px;
  width: 100px;
}

button:active {
  background-color: rgb(62, 62, 249);
}

p {
  font-size: 20px;
  font-weight: 600;
}
input {
  height: 40px;
  font-size: larger;
  font-weight: 300;
  border: none;
  border-radius: 8px;
  padding-left: 30px;
}
